html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    display: flex; 
    flex-direction: column; 
    overflow-y: auto;
    overflow-x: hidden;
}

.logo{
    width: 50%;
    font-size: large;
    font-weight: bolder;
}
.label{
    font-weight: bolder;
    width: 10%;
    background-color: #334234;
    border-radius: 10px 0 10px 0;
    padding: 15px;
    color:white;
}
.contacts{
    color:white;
    width: 60%;
    float: left;
    word-spacing: 10em;
}

.header{
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #252E26;
    flex-grow: 2;
    width: 100%; 
    color:white; 
}
.footer{
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #252E26; 
    width: 100%;
    color:white;
}
.center{
    background-color: #7DCC85;
    flex-grow: 1;
    display: flex;

}
.left_panel{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.top_left{
    display:flex;
    flex-grow: 1;
}
.right_panel{
    background-color: #39733E;
    color: white;
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom_left{
    background-color: #76BF7D;
    width: 100%;
    line-height: 3;
    text-indent: 5em;
    font-style: italic;
    font-size: large;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu_panel{ 
    color: white;
    background-color: #39733E;
    width: 25%;
    line-height: 3;
    text-align: center;
    font-weight: bolder;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.top_center{
    background-color: #76BF7D;
    width: 100%;
    font-size: xx-large;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_content{
    padding: 1%;
    font-size: medium; 
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
    text-align: justify;
}
img {
    max-width: 90%; 
    height: auto; 
}

h3{
    max-width: 100%; 
    height: auto; 
}
@media screen and (max-width: 768px) {
    html,body{
        font-size: smaller; 
    }
    .page_content{
        font-size: smaller;
    }
    .top_center{
        font-size: large;
    }
    .bottom_left{
        font-size: medium;
    }
    .logo{
        font-size: medium;
    }

}
